@media screen and (min-width: 570px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .App {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 60%);
  }

  .UserCard {
    grid-column: 1 / span 2;

    &_top {
      justify-content: space-evenly;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .Card {
    width: 95%;
  }
}
