$Pale_Blue: hsl(236, 100%, 87%);

.active {
  color: #f2f2f2 !important;
}

.UserCard {
  display: flex;
  flex-direction: column;
  background-color: #1c1f4a;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    height: 100px;
    &-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      span {
        font-size: 1.5rem;
        color: hsl(236, 100%, 87%);
      }
      h1 {
        font-size: 2rem;
        font-weight: 300;
        color: #f2f2f2;
      }
    }
    img {
      width: 75px;
      height: 75px;
      border: 4px solid #f2f2f2;
      border-radius: 50%;
    }
  }
  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    border-radius: 10px;
    span {
      font-size: 1.8rem;
      font-weight: 500;
      margin-inline: 15px;
      &:hover {
        cursor: pointer;
        color: #f2f2f2;
      }
    }
  }
}
