$Pale_Blue: hsl(236, 100%, 87%);

.UserCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 10px;
  background-color: #1c1f4a;
  margin-bottom: 20px;
  &_top {
    display: flex;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    padding: 25px;
    // padding-left: 20px;
    &-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      span {
        font-size: 1.5rem;
        color: hsl(236, 100%, 87%);
      }
      h1 {
        font-size: 2rem;
        font-weight: 200;
        color: hsl(236, 100%, 87%);
      }
    }
    img {
      width: 60px;
      border: 4px solid #f2f2f2;
      border-radius: 50%;
    }
  }
  &_bottom {
    height: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    span {
      color: hsl(236, 100%, 87%);
      font-size: 2rem;
      font-weight: 500;
      margin-inline: 15px;
      &:hover,
      &:focus {
        cursor: pointer;
        color: #f2f2f2;
      }
    }
  }
}
